@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    var msg = TempData[nameof(School_Scheduler.MVC.Filters.EnsureDiscriminatorClaim)] as string;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@(string.IsNullOrWhiteSpace(msg) ? "An error occurred while processing your request." : msg)</h2>

