
@{
    ViewBag.Title = "IndexForRoomView";
}

<h2>Room View</h2>

<div class="calenderContainer">
    <div class="calenderChild dayHeading Tuesday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>1  Tuesday</span>
    </div>
    <div class="calenderChild dayHeading Wednesday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>2  Wednesday</span>
    </div>
    <div class="calenderChild dayHeading Thursday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>3  Thursday</span>
    </div>
    <div class="calenderChild dayHeading Friday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>4  Friday</span>
    </div>
    <div class="calenderChild dayHeading Saturday weekendDay" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>5  Saturday</span>
    </div>
    <div class="calenderChild dayHeading Sunday weekendDay" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>6  Sunday</span>
    </div>
    <div class="calenderChild dayHeading Monday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>7  Monday</span>
    </div>
    <div class="calenderChild dayHeading Tuesday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>8  Tuesday</span>
    </div>
    <div class="calenderChild dayHeading Wednesday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>9  Wednesday</span>
    </div>
    <div class="calenderChild dayHeading Thursday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>10  Thursday</span>
    </div>
    <div class="calenderChild dayHeading Friday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>11  Friday</span>
    </div>
    <div class="calenderChild dayHeading Saturday weekendDay" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>12  Saturday</span>
    </div>
    <div class="calenderChild dayHeading Sunday weekendDay" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>13  Sunday</span>
    </div>
    <div class="calenderChild dayHeading Monday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>14  Monday</span>
    </div>
    <div class="calenderChild dayHeading Tuesday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>15  Tuesday</span>
    </div>
    <div class="calenderChild dayHeading Wednesday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>16  Wednesday</span>
    </div>
    <div class="calenderChild dayHeading Thursday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>17  Thursday</span>
    </div>
    <div class="calenderChild dayHeading Friday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>18  Friday</span>
    </div>
    <div class="calenderChild dayHeading Saturday weekendDay" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>19  Saturday</span>
    </div>
    <div class="calenderChild dayHeading Sunday weekendDay" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>20  Sunday</span>
    </div>
    <div class="calenderChild dayHeading Monday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>21  Monday</span>
    </div>
    <div class="calenderChild dayHeading Tuesday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>22  Tuesday</span>
    </div>
    <div class="calenderChild dayHeading Wednesday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>23  Wednesday</span>
    </div>
    <div class="calenderChild dayHeading Thursday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>24  Thursday</span>
    </div>
    <div class="calenderChild dayHeading Friday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>25  Friday</span>
    </div>
    <div class="calenderChild dayHeading Saturday weekendDay" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>26  Saturday</span>
    </div>
    <div class="calenderChild dayHeading Sunday weekendDay" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>27  Sunday</span>
    </div>
    <div class="calenderChild dayHeading Monday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>28  Monday</span>
    </div>
    <div class="calenderChild dayHeading Tuesday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>29  Tuesday</span>
    </div>
    <div class="calenderChild dayHeading Wednesday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>30  Wednesday</span>
    </div>
    <div class="calenderChild dayHeading Thursday" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
        <span>31  Thursday</span>
    </div>
    <script>var allSaturdays = document.querySelectorAll(".Saturday");
                var allSundays = document.querySelectorAll(".Sunday");
                allSaturdays.forEach(element => {
                    element.classList.add("weekendDay");
                });
                allSundays.forEach(element => {
                    element.classList.add("weekendDay");
                });</script>
</div>