@model School_Scheduler.MVC.Models.ViewModels.CalenderDataViewModel

@{
    ViewBag.Title = "Home Page";
}

<style>
    .calenderContainer {
        display: flex;
        flex-flow: row wrap;
    }
</style>

@*<div>@Model.SchoolPrograms[0].Instructors[0].Name</div>*@

@*<div class="calenderContainer">
    @for (int i = 0; i < 12; i++)
    {
        var daysInMonth = DateTime.DaysInMonth(Model.Today.Year, i);
        for (var j = 0; j < daysInMonth; j++)
        {
            <div class="calenderChild">
                <p>@(j+1)</p>
                <p></p>
            </div>
        }
    }
    
        @foreach(var schoolProgram in Model.SchoolPrograms)
        {
            <div>
            </div>
        }
    
</div>*@
